/* 
.head{
    text-align: center;
    color: blueviolet;
}
.main{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;

}
.img1{
    margin-left: 20px !important;
}

@media only screen and (max-width: 600px) {
    .head{
        text-align: center;
        color: blueviolet;
    }
    .main{
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-direction: row;
    
    }
    .img1{
        margin-left: 20px !important;
    }
    .card{
        width: 200px;
    }
    .card-img-top{
        height: 150px;
    }
  } */

body{
   text-align: center;
    
}

table{
      background-color: pink;
      text-align: center;
      justify-self: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
  }